@font-face {
    font-family: dosis;
    src: url('../font/Dosis/dosis.ttf');
}
@font-face {
    font-family: parisienne;
    src: url('../font/Parisienne/Parisienne-Regular.ttf');
}
@font-face {
    font-family: mea_culpa;
    src: url('../font/Mea_Culpa/MeaCulpa-Regular.ttf');
}
@font-face {
    font-family: Alice;
    src: url('../font/Alice/Alice-Regular.ttf');
}

body {
  position: relative;
  padding-bottom: 50px;
  font-family: 'dosis', sans-serif;
  font-size: 0.95rem;
}

.wrapper{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.fontfront {
  font-family: parisienne;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px grey;
}

.namepair {
  margin-top: -200px;
  line-height: normal;
}


.golden-border {
  position: relative;
  border: 2px solid #DAA520;
  border-radius: 10px;
  margin: 20px auto;
}

.bismillah  {
  font-family: 'parisienne', cursive;
  font-size: 1.4rem;
  margin: 20px auto;
}

.salam  {
  margin: 20px auto;
}

.img-thumbnail {
  border-radius: 50% !important;
  width: 35%;
  margin: 20px auto;
  box-shadow: 2px 2px 1px #ababab !important;
}

.imgopenint{
  position: relative;
}

.atas {
  width: 70%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: -9;
}

.bawah {
  width: 70%;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9;
}

.corner-1 {
  max-width: 180px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9; 
}
.corner-2 {
  max-width: 180px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -9; 
}
.corner-3 {
  max-width: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -9; 
}
.corner-4 {
  max-width: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -9; 
}

.nama-mempelai {
  font-family: 'alice', serif;
  text-transform: capitalize;
  font-size: 1.7rem;
  font-style: italic;
}

.img-icon {
  width: 10%;
}


.img-cover {
  width: 250px;
}

@media  screen and (max-width: 400px) {
  .img-cover {
    width: 200px;
  }
  .namepair {
    margin-top: -160px;
    line-height: normal;
  }

  .fontfront {
    font-family: parisienne;
    font-size: 2.2rem;
    color: white;
    text-shadow: 2px 2px 2px grey;
  }
}

.nav-icon {
  width: 30px;
}

/* Style the navigation menu */


.d-none {
  display: none !important;
}

.card{
  /*background-image: url("../img/texture.jpg") !important;*/
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%) !important;
  border-radius: 10px;
}

.img-gallery{
  max-height: 300px;
}

.btn-ucapan{
  background-color: #39473d;
  color: white;
}

.btn-ucapan:hover {
  background-color: #33a73d;
  color: #efefef;
}

.kolom-ucapan {
  text-align: left;
  max-height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

#timer{
  font-size: 1.8rem;
}

.smalltext {
  font-family: 'parisienne', cursive;
  font-size: 0.85rem !important;
}
.days {
  color: darkred;
}

/* Style the navigation menu */
.amplop {
  width: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  overflow: auto;
  padding: 0 !important;
  position: relative;
  z-index: 99;
}

/* Navigation links */
.amplop li {
  float: left;
  padding: 12px;
  color: #555;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  border: 1px solid #ababab;
}

/* Add a background color on mouse-over */
.amplop li:hover {
  background-color: #39473d;
  color: white;
}

.amplop .active {
  background-color: #39473d;
  color: white;
}


@media screen and (max-width: 600px) {
  .amplop li {
    float: left;
    padding: 12px;
    color: #555;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    text-align: center; /* If you want the text to be centered */
    border: 1px solid #ababab;
  }
}


.w3-main,#main{
  transition:margin-left .4s
}

.w3-content,.w3-auto{
  margin-left:auto;
  margin-right:auto
}
.w3-content{
  max-width:980px
}
.w3-auto{
  max-width:1140px
}

* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    background-color: #eaeaea;
    overflow: auto;
    padding: 0 !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    margin-top: 20px;
    z-index: 9999;
  }

  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #aaa;
  }
}

@media screen and (min-width: 801px) {
  body {
    padding-right: 50px;
    padding-bottom: 0;
  }

  .navbar {
    background-color: #dadada;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 !important;
    z-index: 9999;
  }

  /* Navigation links */
  .navbar a {
    display: block;
    height: 20%;
    padding: 50px 10px;

  }

  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #aaa;
  }
}

